input.text {
    padding: 12px 1rem!important;
    width: 100%!important;
    border-radius: 30px!important;
}

button.button {
    font-size: 16px!important;
    border-radius: 30px!important;
    padding: 11px 6px!important;
}