.home-page {
    color: #9D9D9D;
    .nav-item:hover, .nav-item:active {
        color: #8F60DE;
    }
    .btn-login {
        
    }
    .btn-register {
        color: white;
        background: #8F60DE;
    }
}